<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th>Method</th>
			<th>Summary</th>
		</tr>
	</thead>
	<tbody>
		{% for method in include.methods %}
			<tr>
				<td data-th="Method">
					<a href="#{{ method.name }}">
						{% if method.static == true %}
							::{{ method.name }}
						{% else %}
							{{ method.name }}
						{% endif %}
					</a>
				</td>
				<td data-th="Summary">
					{{ method.summary }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>