{% assign model = include.model %}
{% assign methods = model.methods | sort: 'name' %}

{% if include.title %}
	<h1 class="display-4">{{ include.title }}</h1>
{% endif %}

{% if include.tagline %}
	<p class="lead">{{ include.tagline }}</p>
{% endif %}

{% if model.methods %}
	<h2 class="mt-4">Public Methods</h2>
	{% include docs/methodTable.liquid methods=methods %}
	{% include docs/methodDetails.liquid methods=methods %}
{% endif %}