{% assign model = include.model %}
{% assign methods = model.methods | sort: 'name' %}

{% if model.title %}
	<h1 class="display-4">{{ model.title }}</h1>
{% endif %}

{% if model.tagline %}
	<p class="lead">{{ model.tagline }}</p>
{% endif %}

{% if model.methods %}
	<h2 class="mt-4">Methods</h2>
	{% include docs/methodTable.liquid methods=methods %}
	{% include docs/methodDetails.liquid methods=methods %}
{% endif %}