<nav>
	<ul class="nav flex-column">
		{% for link in site.data.navigation %}
			{% if link.sublinks %}
				{% include sidebar/link--dropdown.liquid link=link %}
			{% else %}
				{% include sidebar/link.liquid link=link %}
			{% endif %}
		{% endfor %}
	</ul>
</nav>