---
layout: docs
permalink: /template/template.html
---
{% capture usage %}
<p>Will recursively search the child theme's (if using one) <code>templates</code> folder then the parent theme's <code>template</code> folder.</p>
{% highlight php %}
use WPDev\Template\Template;
// Simple include without any data
Template::include('hero-banner.php');

// With data
Template::include('hero-banner.php', ['title' => 'So Easy']);
{% endhighlight %}
{% highlight php %}
// Or with global helper function...
// Since it is global - note the absence of "use WPDev\Template\Template;"

// Simple include without any data
template('hero-banner.php');

// With data
template('hero-banner.php', ['title' => 'So Easy']);

// Or take care of the including yourself
// Useful if you want to expose the template to the current scope's variables.
if ($template = template_locate('hero.php')) {
    include $template;
}
{% endhighlight %}
{% endcapture %}

{% include docs/modelPage.liquid
    model=site.data.template.Template
    title="Template"
    tagline="Reusing and overriding templates made easy."
    usage=usage
%}
