{% if page.url == include.link.url %}
	{% assign classes = 'nav-link pl-0 active' %}
{% else %}
	{% assign classes = 'nav-link pl-0' %}
{% endif %}

<li class="nav-item">
	<a href="{{ include.link.url | relative_url }}" class="{{ classes }}">
		{{ include.link.text }}
	</a>
</li>
