---
layout: docs
permalink: /facades/post-type.html
---
{% capture usage %}

{% highlight php %}
use WPDev\Facades\PostType; // make sure you import it at the top of your file.

PostType::create('project')
    ->supportsPageAttributes()
    ->menuIcon('dashicons-hammer')
    ->register();
{% endhighlight %}
<p>This takes care of all the hooks for you too. That's really it! 💪</p>
{% endcapture %}


{% include docs/modelPage.liquid
    model=site.data.facades.PostType
    title="PostType Facade"
    tagline="Register custom post types with ease."
    usage=usage
%}

